@{
    ViewBag.Title = "Access Denied";
}

<h1>Access Denied, login first to get authorization:</h1>
<h1>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</h1>
