@model mvc4_poject.Models.Reporter

@{
    ViewBag.Title = "Create";
}

<br />
<h1><b><u>Add a new Reporter:</u></b></h1>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Reporter</legend>

        <h2><u>Reporters id:</u></h2>
        <div class="editor-field">
            <input type="text" class="form-control" id="tz" name="tz" maxlength="9" placeholder="9 digits.." style="width:300px;" />
        </div>

        <h2><u>Name:</u></h2>
        <div class="editor-field">
            <input type="text" class="form-control" id="name" name="name" placeholder="Name" style="width:300px;" />
        </div>

        <h2><u>Birthday:</u></h2>
        <div class="editor-field">
            <input type="text" class="form-control" id="bd" name="bd" placeholder="10/10/1910" maxlength="10" style="width: 300px;" />
        </div>

        <h2><u>Image:</u></h2>
        <div class="editor-field">
            <input type="text" class="form-control" id="img" name="img" placeholder="Images/Reporters/<filename>" style="width:400px;" />
        </div>

        <h2><u>Information:</u></h2>
        <div class="editor-field">
            <input type="text" class="form-control" id="info" name="info" placeholder="Just some background about the writer" style="width:400px;" />
        </div>

        <h2><u>Email:</u></h2>
        <div class="editor-field">
            <input type="email" class="form-control" id="email" name="email" placeholder="name@company.com" style="width: 300px;" />
        </div>

        <h2><u>Phone number:</u></h2>
        <div class="editor-field">
            <input type="tel" class="form-control" id="phone" name="phone" maxlength="11" placeholder="099-9990001" style="width:300px;" />
        </div>
        <br />
        <button type="submit" class="btn btn-info btn-lg"><span aria-hidden="true"></span>Create</button>
    </fieldset>
}
<h2>@Html.ActionLink("Back", "Index")</h2>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
