@if (Request.IsAuthenticated) {
    <text>
        
    </text>
} else {
    <ul>
        <li style="color:#ffffff">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
